<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container-title">
  <div class="row">
    <div class="col">
      <p>Hola Bienvenido {{ usuario }} ! </p>
      <a href="/admin/login/logout" class="btn">Log Out</a>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h3>Listado de Materias</h3>
    </div>
  </div>
</div>
<div class="container-table">
  <div class="row align-items-start">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">nombre_materia</th>
            <th scope="col">descripcion_materia</th>
          </tr>
          <div class="form-container">
            <form action="/admin/abm/save" method="post">
              <div class="form-group">
                <div class="col-2">
                  <button type="submit" class="btn btn-outline-success">Guardar</button>
              <div class="form-group">
                <input type="text" name="curso_id" class="form-control" placeholder="Curso ID"></input>
              </div>
              <div class="form-group">
                <input type="text" name="nombre_materia" class="form-control" placeholder="Nombre de Materia"></input>
              </div>
              <div class="form-group">
                <input type="text" name="descripcion_materia" class="form-control"
                  placeholder="Descripcion de Materia"></input>
              </div>
              <div class="form-group">
                <input type="text" name="profesor_materia" class="form-control" placeholder="Profesor"></input>
              </div>
              <div class="form-group">
                <input type="text" name="horario_materia" class="form-control" placeholder="Horario"></input>
              </div>
              <div class="form-group">
                <input type="text" name="aula" class="form-control" placeholder="Aula"></input>
              </div>
          </div>
        </thead>
        <tbody>
          {{#each abm}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombre_materia}}</td>
            <td>{{descripcion_materia}}</td>
            <td class="text-center"></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </form>
    </div>
  </div>
</div>
</div>