<!doctype html>
<style>.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }</style>
<html lang="en">
    <header> 
        <div className="holder">
        <img src="http://localhost:3000/public/images/logo.png" width="200" alt="Escolastica App"></img>
        <h3 class="bigblue">Escolastica App</h3>
        </div>
    </header>
  {{{body}}}
  <body>
    <h4></h4>
  </body>
</html>